.oculto{
    display: none;
}
#secretoPlayer{
    height: 2em;
    margin: auto;
}

#resultados{
    width: 80%;
    text-align: left;
    margin:auto;
}

resultado{
    padding: 0.2em;
    display: block;
    width:100%;
    border-top: 1px solid black;
}

resultado:first-child{
    border-top: none;
}

acierto, error{
    display: inline;
    margin: 0.5em;
}

acierto{
    color: green;
}

error{
    color:red;
}

#playground{
    text-align: center;
}

#controles{
    display: block;
    text-align: left;
    width: 80%;
    margin: auto;
}

#intro{
    font-size:  2em;
    text-align: center;
}

#info{
    -----line-height: 1em;
    border: 1px solid #ffd563;
    margin: .5em;
    padding: .2em;
}

infoWord{
    text-align: center;
    background: #ffd563;
    border: 2px solid #ffbb00;
    border-radius: 5px;
    padding: 2px;
    margin: 3px;
    display: inline-block;
    font-size: 10px;
}
