.oculto{
    display: none;
}
#secretoPlayer{
    height: 2em;
    margin: auto;
}

#resultados{
    width: 80%;
    text-align: left;
    margin:auto;
}

resultado{
    padding: 0.2em;
    display: block;
    width:100%;
    border-top: 1px solid black;
}

resultado:first-child{
    border-top: none;
}

acierto, error{
    display: inline;
    margin: 0.5em;
}

acierto{
    color: green;
}

error{
    color:red;
}

#playground{
    text-align: center;
}

#controles{
    display: block;
    text-align: left;
    width: 80%;
    margin: auto;
}

#intro{
    font-size:  2em;
    text-align: center;
}

.grande{
    font-size: 1.5em;
    font-face: fantasy;
}

