.oculto{
    display: none;
}
#secretoPlayer{
    height: 2em;
    heigth: 2em;
    display: block;
    margin: auto;
}
#formulario{
    display: inline;
}

resultado{
    display: block;
}

acierto, error{
    display: inline;
    margin: 0.5em;
}

acierto{
    color: green;
}

error{
    color:red;
}


#intro{
    font-size:  2em;
    text-align: center;
}

.grande{
    font-size: 2em;
}

